:root{
  --background-title: #003049;
  --background-color: #EAE2B7;
  --text-title: #FCBF49;
  --text-color: black;
  --main-btn-color: #F77F00;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
form{
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.input-content{
  height: 200px;
  text-align: start;
  width: 600px;
}
.input-title{
  text-align: start;
  width: 400px;
  height: 30px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover{
  color: var(--text-title);
}


button{
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  align-items: center;
  justify-content: center;

}
button:hover{
  background-color: var(--main-btn-color);
}
.del-btn:hover{
  background-color: lightcoral;
}

.blog-content{
  max-width: 750px;
}

header{
  background-color: var(--background-title);
  color: var(--text-title);
  width: 100vw;
  text-align: center;
  box-shadow: 0 4px 2px -2px gray;
}