<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Coding Blog</title>
</head>
<body>
  <header>
    <h1>Coding Blog</h1>
    <h2>My Coding Journey in a Blog</h2>
  </header>
<form action="/blog/new" method="get">
  <button type="submit">Create a Post!</button>
</form>
<% posts.forEach(post => { %>
  <h3 class="blog-title"><a href="/blog/<%=post._id%>"><%= post.title %> - <strong><%= post.date %></strong></a></h3>
  <p class="blog-content"><%= post.content %></p>
  <hr>
<% }) %>
</body>
</html>